<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.plugins.credentials.SystemCredentialsProvider plugin="credentials@1.24">
  <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
    <entry>
      <com.cloudbees.plugins.credentials.domains.Domain>
        <specifications/>
      </com.cloudbees.plugins.credentials.domains.Domain>
      <java.util.concurrent.CopyOnWriteArrayList>
        <org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@1.1">
          <scope>GLOBAL</scope>
          <id>be396a78-97c1-428b-8e96-51ab4d961f61</id>
          <description>GitHub access token</description>
          <secret>MnsYm0mfx+Gh6M9N/npgjBu3OPUgOfrp/mp/wBeOStMLlebYJZyGdS4aAkhv7rtVZ/1rVvSkqm1pcgWu8cIcpA==</secret>
        </org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
      </java.util.concurrent.CopyOnWriteArrayList>
    </entry>
  </domainCredentialsMap>
</com.cloudbees.plugins.credentials.SystemCredentialsProvider>
