<?xml version='1.0' encoding='UTF-8'?>
<jenkins.plugins.slack.SlackNotifier_-DescriptorImpl plugin="slack@1.8.1">
  <teamDomain>{{ jenkins_plugin_slack_team }}</teamDomain>
  <token>{{ jenkins_plugin_slack_token }}</token>
  <room>{{ jenkins_plugin_slack_room }}</room>
  <buildServerUrl>https://build.sgmap.fr/</buildServerUrl>
</jenkins.plugins.slack.SlackNotifier_-DescriptorImpl>
